<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Min Faktura v1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08D244B21DF95B1F00AAC89F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08D244C91DF95B2000AAC89F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08D244D41DF95B2000AAC89F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
